html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    width: 1440px;

}

.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.headernav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.headernav-list {
    font-family: 'Roboto Condensed', 'Aril', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    list-style: none;
    margin: 32px;
}

.headernav-link {
    text-decoration: none;
    color: black;
    transition: color 0, 4s ease,
        opacity 0.6 ease;
}

.headernav-link:hover {
    color: #ff7500;
}

.headernav-link:active {
    opacity: 0.6;
}

.link {
    
    font-family: 'Roboto Condensed', 'Aril', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #ff7500;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
    transition: opacity 0.8 ease,
        opacity 0.6 ease;
}

.link:hover {
    opacity: 0.8;
}

.link:active {
    opacity: 0.6;
}

.hero-line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    margin-top: 80px;
}

.hero-heading {
    width: 339px;
    height: 96px;
    left: 0px;
    top: 43px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */
    margin-top: 40px;
    letter-spacing: 0.5px;
    
    color: #FFFFFF;
    
}

.hero-text {
    width: 387px;
height: 90px;
left: 0px;
top: 163px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
margin-bottom: 44px;
letter-spacing: 0.5px;

color: #FFFFFF;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #444;
}
.hero-img{
    width: 510px;
    height: 510px;
    margin-top: 40px;
}
.feature {
    width: 1440px;
height: 936px;
    
}
.feature-line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    margin-top: 209px;

}
.feature-heading {
    width: 435px;
height: 172px;
left: 170px;
top: 821px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 120%;
/* or 86px */

letter-spacing: 0.5px;

color: #000000;
    margin-top: 0;
}

.feature-list {
    display: flex;
    list-style-type: none;
}

.list-style {

   align-items: center;

}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.feature-title {
    width: 214px;
    height: 29px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    
    letter-spacing: 0.5px;
    
    color: #000000;
    margin-top: 0;
}

.feature-text {
    width: 314px;
    height: 72px;
    
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    letter-spacing: 0.5px;
    
    color: #000000;
    margin-top: 0;
    margin-bottom: 210px;
}

.icon {
    margin-top: 72px;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgba(255, 117, 0, 0.2);

}

.feature-icon {
    width: 47.12px;
  



}

.list-style {
    width: 889px;
}
.promo-top {
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 504px;
    background-color: #252420;
}
.promoku{
    padding: 64px;
    width: 440px;
    height: 291px;
}
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 170px;
    padding-right: 170px;
    margin-left: auto;
    margin-right: auto;
}
.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.promo-heading {
    width: 373px;
height: 96px;
left: 234px;
top: 1704px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* or 48px */

letter-spacing: 0.5px;

color: #FFFFFF;
}
.promo-text {
    width: 440px;
height: 48px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

letter-spacing: 0.5px;
margin-bottom: 44px;
color: #FFFFFF;
margin-bottom: 12px;
}
.promo-text2 {
    width: 440px;
height: 48px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

letter-spacing: 0.5px;
margin-bottom: 44px;
color: #FFFFFF;
}
.promo-line {
}

.sale-img {
    width: 440px;
    height: 440px;
    padding: 64px;
}


.images {
    transition:opacity 0.8 ease,
     opacity 0.6 ease;
}

.line {
   margin-top: 51px;
}
.images:hover{
    opacity: 0.8;
}
.images:active {
    opacity: 0.6;
}

.footer {
    width: 1440px;
    height: 507px; 
    margin-top: 160px;
    background-color: #f8f8f8;

}

.footer-icon {

    width: 1400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-img {
 
    display: flex;
    list-style: none;
    margin: 0;
}

.footer-icon-svg {
    margin: 16px;
}

.footer-top {
    display: flex;
}

.footer-list {
    font-family: "Roboto Condensed, 'Aril", sans-serif;
    list-style: none;
    margin-top: 0;
    margin: 68px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
 
   
}
.footer-link{
    margin-bottom: 16px;
    width: 224px;
    height: 19px;
}
.footer-link-two {
    transition: color 0, 6s ease 0, 6,
        opacity 0.6 ease;
    text-decoration: none;
    color: #000;
    width: 224px;
height: 19px;

font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;



color: #252420;
    
}

.footer-link-two:hover {
    color: #ff7500;
}

.footer-link-two:active {
    opacity: 0.6;
}